$sp: 768px;

*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

@mixin sp {
    @media (max-width: $sp) {
        @content;
    }
}

main{
    
    width: 70%;
    margin: 20px auto;
    
    @include sp{
        margin: 20px;
        width: auto;
    }
    
    header{
        h1{
            border-bottom: thin solid coral;
            @include sp{
                text-align: center;
            }
        }
    }
    
    section{
        p{
            font-size: 48pt;
            text-align: center;
        }
    }
}
