body{
    margin: 0;
}

main{
    width: 70vw;
    margin: 20px auto;
    
    header{
        h1{
            border-bottom: thin solid coral;
        }
    }
    
    section{
        p{
            font-size: 48pt;
            text-align: center;
        }
    }
}
